# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large model cache files (exceeding GitHub 100MB limit)
*.pkl

# Do not ignore slides html
!slides/*.html
